/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */
/* :root{
    
} */
/****** ESTILOS DEL NAV ******/
/* .navbar{
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
} */
/*
 nav{
    font-size: 5rem;
}   
 .fa-wallet {
    margin: 1rem;
    color: white;
    font-size: 4em;
}

.fa-chart-bar, .fa-money-bill-alt, .fa-chart-pie{
    margin: 4%;
} */
 

/* Estilo de formulario balance de inicio */

.balance-sum, .balance-expenses, .balance-total{
    display: flex;
    flex-direction: row;
}
.input-sum{
    margin-left: 22%;
}
.sum-expenses{
    margin-left: 31%;
}
.total{
    margin-left: 36%;
}

.sum{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
}

.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/****** + Nueva operación ******/
#new-operation-section{
    display: none;
}

/* .new-operation{
    display: flex;
    flex-direction: row;
} */

/**** Filtros de inicio ****/

.is-child, .box{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
}
