*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* :root{
    
} */
.navbar{
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
}
 /* nav{
    font-size: 5rem;
}   */
.fa-wallet {
    margin: 5%;
/*     background-color: blueviolet;
 */    color: white;
    font-size: 4em;
}

.fa-chart-bar, .fa-money-bill-alt, .fa-chart-pie{
    margin: 4%;
}